@import "./sidebar.component.config.scss";

:host {
  display: flex;
  flex-direction: column;
  // flex: 0 0 200px;
  box-shadow: 0.5rem 0 1rem 0 rgba(44,51,73,.1);
  // overflow: hidden;
  // height: 100%;
  // transition: all 1s;
  
  &.compacted {
    // overflow: hidden;
    // flex: 0 0 50px;
    // transition: all 1s;

    // ::ng-deep .sidebar__item {
    //   color: red;
    // }
  }


}

