:host {
    display: flex;
    flex-direction: column;
    height: 100%;

    box-shadow: 0 0.5rem 1rem 0 rgba(44,51,73,.1);
}

.sidebar-item {
    display: flex;
    padding: 15px;

    border-bottom: 1px solid lightgray;

    .item-icon {
        width: 25px;
        margin-right: 15px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .item-name {
        
    }
}