<div class="sidebar">

    <div class="sidebar__item" routerLink="pages/dashboard">
        <div class="sidebar__item__icon">
            <i class="fab fa-angular fa-lg"></i>
        </div>
        <div class="sidebar__item__name">
            Dashboard
        </div>
    </div>

    <div class="sidebar__item" routerLink="pages/allItems">
        <div class="sidebar__item__icon">
            <i class="fas fa-helicopter fa-lg"></i>
        </div>
        <div class="sidebar__item__name">
            All items
        </div>
    </div>

    <div class="sidebar__item" routerLink="pages/settings">
        <div class="sidebar__item__icon">
            <i class="fas fa-sliders-h fa-lg"></i>
        </div>
        <div class="sidebar__item__name">
            Settings
        </div>
    </div>

    <div class="sidebar__item" routerLink="">
        <div class="sidebar__item__name">
            Logout
        </div>
    </div>

</div>
