<div class="header">

    <div class="header__item-container">
        <div class="header__sidebar-toggle" (click)="toggleSidebar()">
            <i class="fas fa-bars"></i>
        </div>
        
        <!-- <div class="header__logo">
            
        </div> -->

        <div class="header__title">
            Angular Lab
        </div>
    </div>
        
    <div class="header__item-container">
        <div class="header__user__name">
            John Doe
        </div>

        <div class="header__user__avatar">
            <img [src]="avatarUrl">
        </div>
    </div>

    <!-- <div class="left-side-container">
        <div class="menu-toggle-container" (click)="toggleSidebar()">
            <i class="fas fa-bars fa-2x"></i>
        </div>
        <div class="title-container">
            <img src="assets/logo.png">
        </div>
    </div>

    <div class="right-side-container">
        <div class="user-container">
            <img [src]="avatarUrl">
        </div>
    </div> -->

</div>