@import "../sidebar.component.config.scss";

.sidebar__item {
    display: flex;

    height: 50px;

    border-bottom: 1px solid lightgray;
    color: $item-text-color;

    cursor: pointer;
    text-decoration: none;
    outline: 0 solid transparent;

    &__icon {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 25px;
        // margin: 0 8px 0 0;
    }

    &:hover {
        color: darken($item-text-color, 30%);
    }
    &:active {
        text-shadow: 0px 0px 2px lighten($item-text-color, 40%);
    }
}

@mixin expanded-sidebar-item() {
    .sidebar__item {
        padding: 0 40px 0 15px;
    
        &__icon {
            margin: 0 8px 0 0;
        }

        &__name {
            display: flex;
            justify-content: flex-start;
            align-items: center;

            margin: 0 0 0 8px;

            user-select: none;
        }
    }
}

@mixin compacted-sidebar-item() {
    .sidebar__item {
        padding: 0 15px 0 15px;

        &__name {
            display: none;
        }
    }
}


:host-context(.expanded) {
    @include expanded-sidebar-item();
}

:host-context(.compacted) {
    @include compacted-sidebar-item();
}
