<div class="sidebar">

    <app-sidebar-item 
        label="Dashboard" 
        icon="fab fa-angular fa-lg" 
        routerLink="pages/dashboard"
        title="Dashboard">
    </app-sidebar-item>

    <app-sidebar-item 
        label="All items" 
        icon="fas fa-helicopter fa-lg" 
        routerLink="pages/allItems"
        title="All items">
    </app-sidebar-item>

    <app-sidebar-item 
        label="Settings" 
        icon="fas fa-sliders-h fa-lg" 
        routerLink="pages/settings"
        title="Settings">
    </app-sidebar-item>

    <app-sidebar-item 
        label="Logout" 
        icon="fas fa-dot-circle" 
        routerLink=""
        title="Logout">
    </app-sidebar-item>

</div>
